<div class="admin-page">
  <div class="categories-form-wrapper">
    <p-card
      [header]="editmode ? 'Edit Category' : 'Add Category'"
      subheader="You can add or edit categories here"
    >
      <div class="grid mb-5">
        <div class="col-12">
          <p-toolbar>
            <div class="toolbar-group-left"></div>
            <div class="toolbar-group-right">
              <p-button
                styleClass="p-button-primary mr-2"
                [label]="editmode ? 'Update' : 'Create'"
                icon="pi pi-plus"
                (click)="onFormSubmit()"
              ></p-button>
              <p-button
                styleClass="p-button-secondary"
                label="Cancel"
                icon="pi pi-arrow-circle-left"
                (click)="cancel()"
              ></p-button>
            </div>
          </p-toolbar>
        </div>
      </div>
      <div class="margin-top-20">
        <form [formGroup]="categoriesForm" (ngSubmit)="onFormSubmit()">
          <div
            class="margin-bottom-16 avenue-form-field"
            [ngClass]="{ error: enabledErrorIf('name', ['required'])}"
          >
            <label class="avenue-label">Name</label>
            <input type="text" class="avenue-input" formControlName="name" pInputText/>
            <avenue-mat-error>
              <mat-error *ngIf="hasError('name', 'required')">
                Name is required
              </mat-error>
            </avenue-mat-error>
          </div>
          <div
            class="margin-bottom-16 avenue-form-field"
            [ngClass]="{ error: enabledErrorIf('icon', ['required'])}"
          >
            <label class="avenue-label">Icon</label>
            <input type="text" class="avenue-input" formControlName="icon" pInputText/>
            <avenue-mat-error>
              <mat-error *ngIf="hasError('icon', 'required')">
                <small>Icon is required</small>
              </mat-error>
            </avenue-mat-error>
          </div>
          <div class="p-field p-col">
            <label for="color">Color</label><br />
            <p-colorPicker class="avenue-input" formControlName="color"></p-colorPicker>
          </div>
        </form>
      </div>
    </p-card>
  </div>
</div>
