.categories-form-wrapper {

  .margin-left-4 {
    margin-left: 20px;
  }

  .margin-bottom-16 {
    margin-bottom: 20px !important;
  }

  .categories-button {
    display: flex;
    justify-content: flex-end;
  }

  .avenue-input {
    width: 100% !important;
  }
}
