.mat-chip.mat-standard-chip .mat-chip-remove {
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.pwc-input-button {
  line-height: 40px !important;
}
