.title {
  font-size: 36px;
  color: #101828;
  font-weight: 600;
  margin-bottom: 0px !important;
  p {
    margin: 0px !important;
  }
 }

.sub-title {
  font-size: 14px;
  font-weight: 400;
  color: #667085;
}

.margin-right-4 {
  margin-right: 4px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px;
}
