<div class="contact-wrapper">
  <div class="grid">
    <div class="col-6">
      <div class="margin-top-10">
        <h4>Contact Us</h4>
      </div>
      <div class="cart-shipping mb-5">
        Please fill this form in a decent manner
      </div>
      <div class="mb-4">
        <div class="checkout-form">
          <form [formGroup]="contactFormGroup">
            <div class="p-fluid p-formgrid grid">
              <div class="p-field col-4 field-width">
                <label for="name">Name</label>
                <input formControlName="name" id="name" type="text" pInputText/>
                <small *ngIf="contactForm['name'].invalid && isSubmitted" class="p-error"
                >Name is required</small>
              </div>
              <div class="p-field col-4 field-width">
                <label for="email">Email</label>
                <input formControlName="email" id="email" type="text" pInputText/>
                <small *ngIf="contactForm['email'].invalid && isSubmitted" class="p-error"
                >email is required</small>
              </div>
              <div class="p-field col-4 field-width">
                <label for="message">Message</label>
                <textarea
                  pInputText
                  formControlName="richDescription"
                  [rows]="5"
                  [cols]="30"
                ></textarea>
                <small *ngIf="contactForm['message'].invalid && isSubmitted" class="p-error"
                >phone is required</small>
              </div>
            </div>
            <button
              class="contact-button"
              mat-raised-button color="primary"
              [disabled]="contactFormGroup.invalid"
              type="submit">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
    <mat-divider class="contact-divider" [vertical]="true"></mat-divider>
    <div class="margin-top-40 col-4">
      <app-about-us></app-about-us>
    </div>
  </div>
</div>
