<div class="contact-wrapper">
  <div class="grid">
    <div class="col-6">
      <div class="margin-top-10">
        <h4>Contact Us</h4>
      </div>
      <div class="cart-shipping mb-5">
        Please fill this form in a decent manner
      </div>
      <div class="mb-4">
        <div class="checkout-form">
          <form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
            <div
              class="margin-bottom-16 avenue-form-field"
              [ngClass]="{ error: enabledErrorIf('name', ['required'])}"
            >
              <label class="avenue-label">Name</label>
              <input type="text" class="avenue-input" formControlName="name" pInputText/>
              <avenue-mat-error>
                <mat-error *ngIf="hasError('name', 'required')">
                  Name is required
                </mat-error>
              </avenue-mat-error>
            </div>
            <div
              class="margin-bottom-16 avenue-form-field"
              [ngClass]="{ error: enabledErrorIf('email', ['required'])}"
            >
              <label class="avenue-label">Email</label>
              <input type="text" class="avenue-input" formControlName="email" pInputText/>
              <avenue-mat-error>
                <mat-error *ngIf="hasError('email', 'required')">
                  <small>Email is required</small>
                </mat-error>
              </avenue-mat-error>
            </div>
            <div
              class="margin-bottom-16 avenue-form-field"
              [ngClass]="{ error: enabledErrorIf('message', ['required'])}"
            >
              <label class="avenue-label">Message</label>
              <textarea rows="5" class="avenue-input" pInputText formControlName="message"></textarea>
              <avenue-mat-error>
                <mat-error *ngIf="hasError('message', 'required')">
                  <small>Message is required</small>
                </mat-error>
              </avenue-mat-error>
            </div>
          </form>
          <button
            class="contact-button"
            mat-raised-button color="primary"
            (click)="onFormSubmit()">
            Send
          </button>
        </div>
      </div>
    </div>
    <mat-divider class="contact-divider" [vertical]="true"></mat-divider>
    <div class="margin-top-40 col-4">
      <app-about-us></app-about-us>
    </div>
  </div>
</div>
