table {
  width: 100%;
}

.margin-right-4 {
  margin-right: 4px !important;
}

.card-margin-bottom-20 {
  margin-bottom: 20px;
  align-items: end;
}

mat-grid-tile {
  background: #F8F9FA;
}

.mat-column-position {
  width: 31%;
}

.mat-column-name,
.mat-column-icon,
.mat-column-button {
  width: 23%;
}
