<div class="admin-page">
  <div class="auth-login-wrapper">
    <mat-card>
      <p class="title">Categories</p>
      <p class="sub-title margin-top-10">List of all categories</p>
      <div class="margin-top-30">
        <div class="card-margin-bottom-20">
          <mat-toolbar>
            <button
              mat-raised-button
              color="primary"
              routerLink="/a/categories/form">
              <i class="pi pi-plus margin-right-4"></i>
              New
            </button>
          </mat-toolbar>
        </div>
        <div class="avenue-table-wrapper">
          <table mat-table [dataSource]="categories" class="mat-elevation-z8">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef class="header-style"> No.</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="header-style"> Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef class="header-style"> Icon</th>
              <td mat-cell *matCellDef="let element"> {{element.icon}} </td>
            </ng-container>
            <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef class="header-style"></th>
              <td mat-cell *matCellDef="let element">
                <div fxLayout="row" fxLayoutGap="16px">
                  <p-button
                    styleClass="p-button-danger"
                    icon="pi pi-trash"
                    (click)="deleteCategory(element.id)"
                  ></p-button>
                  <p-button
                    styleClass="p-button-primary"
                    icon="pi pi-pencil"
                  ></p-button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <button mat-button (click)="openDialog()">Open dialog</button>


      </div>
    </mat-card>
  </div>
</div>
