<div class="auth-registration-wrapper">
  <div class="auth-registration-container">
    <mat-card class="card">
      <div class="regi-logo">
        <img src="assets/img/logo.png" alt="image is not found">
        <p class="title">Avenue</p>
        <p class="sub-title">Continue log in with email address</p>
      </div>

      <form (ngSubmit)="onSubmitForm()"
            [formGroup]="authenticationForm" class="margin-top-12">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="FirstName">
          <mat-error>
            <p *ngIf="authenticationForm.controls.FirstName
           .hasError('required')">First name is required</p>
            <p *ngIf="authenticationForm.controls.FirstName
            .hasError('maxlength')">Maximum character limit 50</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="LastName">
          <mat-error>
            <p *ngIf="authenticationForm.controls.LastName
            .hasError('required')">Last name is required</p>
            <p *ngIf="authenticationForm.controls.LastName
            .hasError('maxlength')">Maximum character limit 50</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="Email">
          <mat-error>
            <p *ngIf="authenticationForm.controls.Email
           .hasError('required')">Email address is required</p>
            <p *ngIf="authenticationForm.controls.Email
           .hasError('email')">Invalid email Address</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="Password">
          <mat-error>
            <p *ngIf="authenticationForm.controls.Password
           .hasError('required')">Password is required</p>
            <p *ngIf="authenticationForm.controls.Password
           .hasError('minlength')">Password needs to be at least 8 character long</p>
          </mat-error>
        </mat-form-field>

        <button
          class="padding-h-24"
          mat-raised-button color="primary"
          [disabled]="authenticationForm.invalid"
          type="submit">
          Create Account
        </button>
      </form>
      <div class='sign-in-buttons'>
        <p>Already have an account?
          <span class="sign-in-link" (click)="login()">Sign In</span>
        </p>
      </div>
    </mat-card>
  </div>
</div>
