div.mat-grid-tile-content {
  justify-content: flex-start !important;
}

.p-text-bold {
  font-weight: 500;
  text-align: left !important;
  font-size: 1.25rem;

}

.mat-grid-tile .mat-grid-tile-content {
  justify-content: flex-start;
}

.mat-grid-tile-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}
