<header>
  <div fxLayout="row">
    <div fxFlex="19">
      <div class="logo">
        <img routerLink="/" src="assets/img/logo.png" alt="logo"/>
      </div>
    </div>
    <div class="search" fxFlex="39">
      <app-products-search></app-products-search>
    </div>
    <div class="p-offset-1 navigation" fxFlex="32">
      <app-nav></app-nav>
    </div>
    <div class=" tools icons" fxFlex="10">
      <i class="pi pi-user text-secondary" routerLink="/profile" style="font-size: 1.5rem"></i>
      <app-cart-icon></app-cart-icon>
    </div>
  </div>
</header>
