<header>
  <div class="p-grid" fxLayout="row">
    <div fxFlex="25">
      <div class="logo">
        <img src="assets/img/logo.png" alt="logo" />
      </div>
    </div>
    <div class="p-col-4 search" fxFlex="40">
      <app-products-search></app-products-search>
    </div>
    <div class="p-col-3 p-offset-1 navigation" fxFlex="25">
      <app-nav></app-nav>
    </div>
    <div class="p-col-1 tools icons" fxFlex="10">
      <i class="pi pi-user text-secondary" routerLink="/profile" style="font-size: 1.5rem"></i>
      <app-cart-icon></app-cart-icon>
    </div>
  </div>
</header>
