header {
  margin-bottom: 25px;

  .logo {
    img {
      width: 70px;
    }
  }

  .search {
    padding-top: 25px;
  }

  .navigation {
    padding-top: 25px;
  }

  .tools {
    padding-top: 25px;

    .pi {
      margin-right: 20px;
    }
  }

  .icons {
    cursor: pointer;
  }
}
