.profile-wrapper {
  min-height: 443px;

  .profile-cart {
    width: 600px;
    left: 50%;
    transform: translate(-50%);

    .profile-align {
      text-align: center;
      margin-top: 20px;
    }
  }
}
