<div class="contact-info-wrapper">
  <div class="container">
    <div class="address details">
      <i class="pi pi-map-marker"></i>
      <div class="topic">Address</div>
      <div class="text-one">Bahubal, Habiganj</div>
      <div class="text-two">Tilagor, Sylhet, Bangladesh</div>
    </div>
    <div class="phone details">
      <i class="pi pi-phone"></i>
      <div class="topic">Phone</div>
      <div class="text-one">+880 1797 750545</div>
      <div class="text-two">+880 1751 201392</div>
    </div>
    <div class="email details">
      <i class="pi pi-envelope"></i>
      <div class="topic">Email</div>
      <div class="text-one">avenue@maildrop.cc</div>
      <div class="text-two">info.avenue@maildrop.cc</div>
    </div>
  </div>
</div>
