.auth-reset-password-wrapper {
  position: relative;
  height: 100vh;
  background-image: url("../../../../assets/img/auth-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .auth-login-container {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .card {
      padding: 32px;
    }

    .sign-in-logo {
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
        height: 50px;
        width: 50px;
      }

      .title {
        font-size: 20px;
        margin: 0;
      }

      .sub-title {
        font-size: 12px;
        margin: 0;
      }
    }
  }

  .core-login-in-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: #667085;
    margin-top: 10px !important;

    p {
      margin-bottom: 0px !important;
    }
  }

  .sign-in-link {
    margin: 0;
    cursor: pointer;
    font-weight: 600;
    color: #3DB08D;
  }
}
