<div class="auth-reset-password-wrapper">
  <div class="auth-login-container">
    <mat-card class="card">
      <div class="sign-in-logo">
        <img src="assets/img/logo.png">
        <p class="title">Techmart</p>
        <p class="sub-title">Set your new password</p>
      </div>

      <form (ngSubmit)="onSubmitForm()"
            [formGroup]="resetPasswordForm" class="margin-top-16">

        <mat-form-field appearance="outline">
          <mat-label>New password</mat-label>
          <input
            matInput
            type="password"
            formControlName="Password">
          <mat-error>
            <p *ngIf="resetPasswordForm.controls.Password
           .hasError('required')">New password is required</p>
            <p *ngIf="resetPasswordForm.controls.Password
           .hasError('minlength')">Password needs to be at least 8 character long</p>
          </mat-error>
        </mat-form-field>
        <button
          class="padding-h-24"
          mat-raised-button color="primary"
          [disabled]="resetPasswordForm.invalid"
          type="submit">
          Save Password
        </button>
      </form>
    </mat-card>
  </div>
</div>
