<div class="admin-page">
  <div class="categories-form-wrapper">
    <mat-card>
      <div>
        <p class="title">
          {{ editmode ? 'Edit Category' : 'Add Category' }}
        </p>
        <p class="sub-title margin-top-10">You can add or edit categories here</p>
        <div class="margin-top-30">
          <div class="card-margin-bottom-20">
            <mat-toolbar class="categories-button">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                (click)="onFormSubmit()"
              >
                <i class="pi pi-plus margin-right-4"></i>
                {{ editmode ? 'Update' : 'Create' }}
              </button>
              <button
                mat-raised-button
                color="accent"
                class="margin-left-4">
                <i class="pi pi-arrow-circle-left margin-right-4"></i>
                Cancel
              </button>
            </mat-toolbar>
          </div>
        </div>
      </div>
      <div class="margin-top-20">
        <form [formGroup]="categoriesForm" (ngSubmit)="onFormSubmit()">
          <div fxLayout="row" fxLayoutGap="16px">
            <div
              fxFlex="50"
              class="margin-bottom-16 avenue-form-field"
              [ngClass]="{ error: enabledErrorIf('name', ['required', 'pattern'])}"
            >
              <label class="avenue-label">Name</label>
              <input type="text" class="avenue-input" formControlName="name"/>
              <avenue-mat-error>
                <mat-error *ngIf="hasError('name', 'required')">
                  First name is required
                </mat-error>
                <mat-error *ngIf="hasError('name', 'pattern')">
                  Invalid first name pattern
                </mat-error>
              </avenue-mat-error>
            </div>
            <div
              fxFlex="50"
              class="margin-bottom-16 avenue-form-field"
              [ngClass]="{ error: enabledErrorIf('icon', ['required', 'pattern'])}"
            >
              <label class="avenue-label">Icon</label>
              <input type="text" class="avenue-input" formControlName="icon"/>
              <avenue-mat-error>
                <mat-error *ngIf="hasError('icon', 'required')">
                  Last name is required
                </mat-error>
                <mat-error *ngIf="hasError('icon', 'pattern')">
                  Invalid last name pattern
                </mat-error>
              </avenue-mat-error>
            </div>
          </div>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
        </form>
      </div>
    </mat-card>
  </div>
</div>
