<div class="banner">
  <div  fxLayout="row" fxLayoutAlign="space-around center">
    <div class="banner-text">
      <h1>The Best Products</h1>
      <h2>in Every Category</h2>
      <p-button
        class="banner-button"
        label="See more"
        icon="pi pi-chevron-right"
        iconPos="right"
        routerLink="/products"
      ></p-button>
    </div>
    <div class="banner-image animate__animated animate__slideInLeft">
      <img src="assets/img/banner.svg" alt="" />
    </div>
  </div>
</div>
